
<style>
    .keyword{
    }
    .keyword:hover
    {
       font-size:25px;
    }
    .grid {
        width: 100%;
        height: 100%;
    }

    .ui-grid-viewport .ui-grid-cell-contents {
        word-wrap: break-word;
        white-space: normal !important;
    }

    .ui-grid-row, .ui-grid-cell {
        height: auto !important;
    }

        .ui-grid-row div[role=row] {
            display: flex;
            align-content: stretch;
        }
</style>
@*<div class="page-header">
        <h3>Thanks for participating ! <small>Help us identify issues with the keywords from the tweets. </small></h3>
    </div>*@
<br />
@ViewBag.Error
<div class="alert alert-info alert-dismissable" role="alert" style="background-color:#fed428">
    <h4 style="color:black">Thanks for participating ! Help us identify issues with the keywords from the tweets.</h4>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">[Close]</span></button>
    <div class="row">
        <div class="col-lg-6">
            Steps:
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Select a tweet from the list on left</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> View the Extracted Keywords on the right</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> View the Tags on the right. </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Drag and drop a tag on the keyword. </li>
            </ul>
        </div>
        <div class="col-lg-5">
            Supported Tags:
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Misspelt</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Jargon</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Abbreviation </li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-4">
        @*<span class="label label-primary">Tweets</span>*@
        <div ng-controller="MainCtrl">
            <div class="panel panel-info">
                <div class="panel-heading">Tweets</div>
                <div class="panel-body" style="padding:0px">
                    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-5" ng-controller="KeywordsController">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Selected Tweet</div>
                    <div class="panel-body"> {{tweet.text}}</div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="panel panel-success">
            <div class="panel-heading">Extracted Keywords (Tag Keywords with a tag - drag and drop a tag from right panel) </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>From Tweet Text :</h6>
                        <div ng-repeat="item in data.fromText" style="display:inline-table;margin-right:4px">
                            <div id="{{item.id}}">
                                @*<span class="label label-default" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">{{item.name}}</span>*@
                                <h4 class="keyword" style="font-family:'Times New Roman', Times, serif" ng-drop="true" ng-drop-success="onDropComplete($data,$event)"><u><b>{{item.name}}</b></u>&nbsp;&nbsp;</h4>
                            </div>
                            <div ng-repeat="tag in getData(item)"><span class="label label-default" ng-dblclick="RemoveTag(tag)" style="background-color:{{tag.tag.color}}">{{tag.tag.name}}</span></div>

                            @*<div class="btn-group">
                                    <button id="keyword{{item.id}}" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{item.name}}
                                        <span class="badge">{{item.tagCount}} tags</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="tag in tags" ng-click="OnTagClicked(item.id,tag.id,1)"><a href="#">{{tag.name}}  <span id="keyword{{item.id}}{{tag.id}}" class="glyphicon glyphicon-ok" aria-hidden="true" style="display:none"></span></a></li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-lg-12">
                        <h6> From Hashtags :</h6>
                        <div>
                            <div ng-repeat="item in data.fromHashtag" style="display:inline-table;margin-right:4px">
                                <div id="{{item.id}}">
                                    <h4 class="keyword" style="font-family:'Times New Roman', Times, serif" ng-drop="true" ng-drop-success="onDropComplete($data,$event)"><u><b>{{item.name}}</b></u>&nbsp;&nbsp;</h4>
   </div>
                                <div ng-repeat="tag in getData(item)"><span class="label label-default" ng-dblclick="RemoveTag(tag)" style="background-color:{{tag.tag.color}}">{{tag.tag.name}}</span></div>


                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-lg-12">
                        <h6>From URL :</h6>
                        <div>
                            <div ng-repeat="item in data.fromURL" style="display:inline-table;margin-right:4px">
                                <div id="{{item.id}}">

                                    <h4 class="keyword" style="font-family:'Times New Roman', Times, serif" ng-drop="true" ng-drop-success="onDropComplete($data,$event)"><u><b>{{item.name}}</b></u>&nbsp;&nbsp;</h4>
    </div>
                                <div ng-repeat="tag in getData(item)"><span class="label label-default" ng-dblclick="RemoveTag(tag)" style="background-color:{{tag.tag.color}}">{{tag.tag.name}}</span></div>

                                @*<div class="btn-group">
                                        <button id="keyword{{item.id}}" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{item.name}}
                                            <span class="badge">{{item.tagCount}} tags</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="tag in tags" ng-click="OnTagClicked(item.id,tag.id,3)"><a href="#">{{tag.name}}  <span id="keyword{{item.id}}{{tag.id}}" class="glyphicon glyphicon-ok" aria-hidden="true" style="display:none"></span></a></li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div>
            <button id="mainBtn" type="button" class="btn btn-primary btn-lg" aria-expanded="false" style="left:50%;" ng-click="PostChanges()">Save</button>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="row" ng-controller="TagsController">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Tags</div>
                    <div class="panel-body">
                        <div ng-repeat="tag in tags" ng-drag="true" ng-drag-data="{tag}" ng-drag-success="onDragComplete($data,$event)"> <span class="label label-default" style="font-size:14px;background-color:{{tag.color}}">{{tag.name}}</span><br /><br /><br /></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="id4" ng-controller="DropController" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
            droparea
            <div ng-repeat="tag in droppedObjects"><span class="label label-default" style="background-color:{{tag.tag.color}}">{{tag.tag.name}}</span></div>
        </div>
    </div>
</div>
