<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://crowdtool1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>crowdtool1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CrowdTool1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CrowdTool1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CrowdHippoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:crowdtool1dbserver.database.windows.net,1433;Initial Catalog=CrowdTool1_db;User ID=kushal@crowdtool1dbserver;Password=Shivam30$" Name="Data Source=tcp:crowdtool1dbserver.database.windows.net,1433;Initial Catalog=CrowdTool1_db;User Id=kushal@crowdtool1dbserver;Password=Shivam30$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CrowdHippo.CrowdHippoEntities, CrowdHippo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:crowdtool1dbserver.database.windows.net,1433;Initial Catalog=CrowdTool1_db;User ID=kushal@crowdtool1dbserver;Password=Shivam30$" Name="Data Source=tcp:crowdtool1dbserver.database.windows.net,1433;Initial Catalog=CrowdTool1_db;User Id=kushal@crowdtool1dbserver;Password=Shivam30$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CrowdHippo.Models.ApplicationDbContext, CrowdHippo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CrowdHippoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CrowdHippo.csdl|res://*/CrowdHippo.ssdl|res://*/CrowdHippo.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:crowdtool1dbserver.database.windows.net,1433;Initial Catalog=CrowdTool1_db;User Id=kushal@crowdtool1dbserver;Password=Shivam30$"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:crowdtool1dbserver.database.windows.net,1433;Initial Catalog=CrowdTool1_db;User Id=kushal@crowdtool1dbserver;Password=Shivam30$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>